################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/FastFoodServer/.vs/FastFoodServer
/.vs
/FastFoodServer/WebApi/obj
/FastFoodServer/Contracts/obj
/FastFoodServer/Services/Account/Command/WorkerService1/obj
/FastFoodServer/Services/Identity/Command/WorkerService1/bin/Debug/net6.0
/FastFoodServer/Services/Identity/Command/WorkerService1/obj
/FastFoodServer/Infratructure.MessageBus/obj/Debug/net6.0
/FastFoodServer/Services/Identity/Command/Application/bin/Debug/net6.0
/FastFoodServer/Services/Identity/Command/Application/obj
/FastFoodServer/Services/Identity/Command/Domain/obj
/FastFoodServer/Services/Identity/Command/Infrastructure.EventStore/obj
/FastFoodServer/Services/Identity/Command/Infratructure.MessageBus/obj
/FastFoodServer/Infratructure.MessageBus/obj
/FastFoodServer/Services/Account/Command/WorkerService1/bin/Debug/net6.0
/FastFoodServer/Services/Identity/Command/Infrastructure.MessageBus/obj
/FastFoodServer/Contracts/bin/Debug/net6.0
/FastFoodServer/Services/Identity/Command/Domain/bin/Debug/net6.0
/FastFoodServer/WebApi/bin/Debug/net6.0
/FastFoodServer/Services/Dish/Query/Application/obj
/FastFoodServer/Services/Dish/Query/Domain/obj
/FastFoodServer/Services/Dish/Query/GrpcService1/bin/Debug/net6.0
/FastFoodServer/Services/Dish/Query/GrpcService1/obj
/FastFoodServer/Services/Dish/Query/Infrastructure.ElasticSearch/obj
/FastFoodServer/Services/Dish/Query/Infrastructure.EventBus/obj
/FastFoodServer/Services/Dish/Query/Infrastructure.Projection/obj
